/* 사용할 폰트의 이름 */
/* font-family: "SUIT"; */
/* font-display: fallback; */
/* 
src: 사용할 폰트의 위치 및 형식 
    Safari, Android, iOS => ttf
    Modern Browsers => woff
    IE6-IE8 => eot
*/
@font-face {
  font-family: "SUIT";
  src: 
  url("./SUIT-Thin.ttf") format("truetype"),
  url("./SUIT-Thin.woff2") format("woff2"),
  url("./SUIT-Thin.eot?iefix") format("embedded-opentype");
  font-weight: 100;
  font-style: Thin;
}
@font-face {
  font-family: 'SUIT';
  src: url("./SUIT-Light.woff2") format("woff2"),
  url("./SUIT-Light.ttf") format("truetype"),
  url("./SUIT-Light.eot?iefix") format("embedded-opentype");
  font-weight: 300;
  font-style: Light;
}
@font-face {
  font-family: 'SUIT';
  src:   url("./SUIT-Regular.ttf") format("truetype"),
  url("./SUIT-Regular.woff2") format("woff2"),
  url("./SUIT-Regular.eot?iefix") format("embedded-opentype");
  font-weight: 400;
  font-style: Normal;
}
@font-face {
  font-family: 'SUIT';
  src: url("./SUIT-Medium.eot?iefix") format("embedded-opentype"),
  url("./SUIT-Medium.ttf") format("truetype"),
  url("./SUIT-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: Medium;
}
@font-face {
  font-family: 'SUIT';
  src:   url("./SUIT-SemiBold.ttf") format("truetype"),
  url("./SUIT-SemiBold.woff2") format("woff2"),
  url("./SUIT-SemiBold.eot?iefix") format("embedded-opentype");
  font-weight: 600;
  font-style: SemiBold;
}
@font-face {
  font-family: 'SUIT';
  src:  url("./SUIT-Bold.ttf") format("truetype"),
  url("./SUIT-Bold.woff2") format("woff2"),
  url("./SUIT-Bold.eot?iefix") format("embedded-opentype");
  font-weight: 700;
  font-style: Bold;
}
@font-face {
  font-family: 'SUIT';
  src:   url("./SUIT-Heavy.woff2") format("woff2"),
  url("./SUIT-Heavy.eot?iefix") format("embedded-opentype"),
  url("./SUIT-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: ExtraBold;
}